@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 12%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 12%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 12%;

    /* Verde principal */
    --primary: 122 39% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 242 100% 99%;
    --secondary-foreground: 0 0% 100%;

    --sidebar: 46 0% 85%;

    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 210 20% 96%;
    --accent-foreground: 0 0% 12%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 122 39% 49%;

    --radius: 0.625rem;
  }

  html {
    font-family: "Inter", system-ui, sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }

  /* Ocultar scrollbar pero mantener funcionalidad de scroll */
  .scrollbar-hide {
    /* Firefox */
    scrollbar-width: none;
    /* Safari e IE */
    -ms-overflow-style: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
